{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ race.id }}
            {{ race.name }}
            {{ race.size }}
            {{ race.abilitySTR }}
            {{ race.abilityDEX }}
            {{ race.abilityCON }}
            {{ race.abilityINT }}
            {{ race.abilityWIS }}
            {{ race.abilityCHA }}
            {{ race.savingFortitude }}
            {{ race.savingReflex }}
            {{ race.savingWill }}
            {{ race.baseAttack }}
            {{ race.spellResistance }}
            {{ race.hitPoints }}
            {{ race.armorClass }}
            {{ race.initiative }}
            {{ race.speed }}
            {{ race.damageReduction }}

        </div>
    </div>
{% endblock %}
