{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ D20character.id }}
            {{ D20character.name }}
            {{ D20character.playerId }}
            {{ D20character.classID }}
            {{ D20character.raceId }}
            {{ D20character.deityName }}
            {{ D20character.age }}
            {{ D20character.size }}
            {{ D20character.abilitySTR }}
            {{ D20character.abilityDEX }}
            {{ D20character.abilityCON }}
            {{ D20character.abilityINT }}
            {{ D20character.abilityWIS }}
            {{ D20character.abilityCHA }}
            {{ D20character.savingFortitude }}
            {{ D20character.savingReflex }}
            {{ D20character.savingWill }}
            {{ D20character.baseAttack }}
            {{ D20character.spellResistance }}
            {{ D20character.hitPoints }}
            {{ D20character.armorClass }}
            {{ D20character.initiative }}
            {{ D20character.speed }}
            {{ D20character.damageReduction }}

        </div>
    </div>
{% endblock %}
